@model MVCPartyInvitation.Models.GuestResponse

@{
    ViewBag.Title = "RsvForm";
}

<h2>RsvForm</h2>

@using (Html.BeginForm())
{
    <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
    <p>Your name: @Html.TextBoxFor(x => x.Email)</p>
    <p>Your name: @Html.TextBoxFor(x => x.Phone)</p>

    <p>

        will you attend?
        @Html.DropDownList(x => x.WillAttend, new[]
   {

   })


    </p>

   

}
}
}

